* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.product-list {
    max-width: 1200px; /* Ограничиваем ширину контейнера */
    margin: 0 auto;
}
